<footer class="fixed-bottom" style="background-color: #deded5;">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4">
                <h5 class="mb-3" style="letter-spacing: 2px; color: #818963;">MadaVAM</h5>
                <p>
                    Chez nous, votre véhicule sera entre de bonnes mains. 
                    Faites confiance à notre équipe expérimentée pour des réparations
                    rapides et fiables.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="mb-3" style="letter-spacing: 2px; color: #818963;">Liens</h5>
                <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                        <a href="#!" style="color: #4f4f4f;">Vos voitures</a>
                    </li>
                    <li class="mb-1">
                        <a href="#!" style="color: #4f4f4f;">Depôt de voiture</a>
                    </li>
                    <li class="mb-1">
                        <a href="#!" style="color: #4f4f4f;">Facture</a>
                    </li>
                    <li>
                        <a href="#!" style="color: #4f4f4f;">Reparer votre voiture</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="mb-1" style="letter-spacing: 2px; color: #818963;">Heure d'ouverture</h5>
                <table class="table" style="color: #4f4f4f; border-color: #666;">
                    <tbody>
                        <tr>
                            <td>Lundi - Vendredi:</td>
                            <td>8h - 20h</td>
                        </tr>
                        <tr>
                            <td>Samedi - Dimanche:</td>
                            <td>8h- 13h</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
       Rakotovao Ratsimba Ny Toky Manambina - RANDRIAMANANJARA sedra
    </div>
    <!-- Copyright -->
</footer>