<app-slider [pageDescription]="'Avacement réparation '"></app-slider>
<div class="container-fluid pt-3">
    <h3 class="font-weight  text-center fs-3">Avancement des réparations</h3>
    <div class="row flex-row flex-sm-nowrap py-3" cdkDropListGroup>
        <div class="col-sm-6 col-md-4 col-xl-4">
            <div class="card bg-light" style="min-height: 500px;">
                <div class="card-body"  *ngIf="CarWaitValidation"  >
                    <h6 class="card-title text-uppercase  py-2">En attente de Réparation:</h6>
                    <div
                    cdkDropList
                    #reparationList="cdkDropList"
                    [cdkDropListData]="CarWaitValidation"
                    class="items border border-light"
                         [cdkDropListConnectedTo]="[EnReparation]"
                         (cdkDropListDropped)="drop($event,1)"
                    >
                    <div class="card draggable shadow-sm">
                        <div style="height: 30px;"></div>
                    </div>
                        <div class="card draggable shadow-sm" [cdkDragData]="cw" *ngFor="let cw of CarWaitValidation" cdkDrag>
                            <app-car-card-progress [vColor]="cw.idCar.colorCar" [vType]="cw.idCar.typeCar[0].reference"
                                [date]="cw.date | date: 'YYYY/MM/dd'"
                                [licencePlate]="cw.idCar.matricule" ></app-car-card-progress>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-4">
            <div class="card bg-light" >
                <div class="card-body"  *ngIf="CarReparationProgress" >
                    <h6 class="card-title text-uppercase text-truncate py-2">En réparation</h6>
                    <div 
                    cdkDropList
                    #EnReparation="cdkDropList"
                    [cdkDropListData]="CarReparationProgress"
                    class="items border border-light" 
                         (cdkDropListDropped)="drop($event,2)"
                        [cdkDropListConnectedTo]="[reparationList]"
                    >
                        <div class="card draggable shadow-sm">
                            <div style="height: 30px;"></div>
                        </div>
                        <div class="card draggable shadow-sm"  [cdkDragData]="cp"   *ngFor="let cp of CarReparationProgress" cdkDrag>
                            <app-car-card-progress [vColor]="cp.idCar.colorCar" [vType]="cp.idCar.typeCar[0].reference"
                                [date]="cp.date | date: 'YYYY/MM/dd'" [licencePlate]="cp.idCar.matricule" >
                            </app-car-card-progress>

                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-4">
            <div class="card bg-light">
                <div class="card-body" >
                    <h6 class="card-title text-uppercase text-truncate py-2">Reparation terminée</h6>
                    <div class="items border border-light" *ngIf="CarReparationDone"
                    cdkDropList
                        #reparationDone="cdkDropList"
                        [cdkDropListData]="CarReparationDone"
                        [cdkDropListConnectedTo]="[EnReparation]"
                        (cdkDropListDropped)="drop($event,3)"
                         >
                        <div class="card draggable shadow-sm" >
                           <div style="height: 30px;"></div>
                        </div>
                        <div class="card draggable shadow-sm" 
                      [cdkDragData]="crp" [cdkDragDisabled]="false"  *ngFor="let crp of CarReparationDone"
                       cdkDrag>
                            <app-car-card-progress [vColor]="crp.idCar.colorCar"
                                [vType]="crp.idCar.typeCar[0].reference" [date]="crp.date | date: 'YYYY/MM/dd'"
                                [licencePlate]="crp.idCar.matricule">
                            </app-car-card-progress>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>