<app-slider></app-slider>
<div class="container-fluid pt-3">
    <h3 class="font-weight  text-center fs-3">Avancement réparation</h3>
    <div class="row flex-row flex-sm-nowrap py-3">
        <div class="col-sm-6 col-md-4 col-xl-4">
            <div class="card bg-light">
                <div class="card-body">
                    <h6 class="card-title text-uppercase  py-2">En attente de validation:</h6>
                    <div class="items border border-light">
                        <div class="card draggable shadow-sm" id="cd1">
                            <app-car-card-progress [vColor]="'black'" [vType]="1" [date]="'26 janvier 2023'"
                                [licencePlate]="'444 TBN'"></app-car-card-progress>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-4">
            <div class="card bg-light">
                <div class="card-body">
                    <h6 class="card-title text-uppercase text-truncate py-2">En réparation</h6>
                    <div class="items border border-light">
                        <div class="card draggable shadow-sm" id="cd1">
                            <app-car-card-progress [vColor]="'black'" [vType]="1" [date]="'26 janvier 2023'"
                                [licencePlate]="'444 TBN'"></app-car-card-progress>

                        </div>
                        <div class="card draggable shadow-sm" id="cd1">
                            <app-car-card-progress [vColor]="'black'" [vType]="1" [date]="'26 janvier 2023'"
                                [licencePlate]="'444 TBN'"></app-car-card-progress>

                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title text-uppercase text-truncate py-2">Reparation terminée</h6>
                    <div class="items border border-light">
                        <div class="card draggable shadow-sm" id="cd11">
                            <app-car-card-progress [vColor]="'black'" [vType]="1" [date]="'26 janvier 2023'"
                                [licencePlate]="'444 TBN'"></app-car-card-progress>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

