
<div class="container">
<div class="cont">
    <div class="form sign-in">
        <form [formGroup]="userLogin" (ngSubmit)="login()">
        <h2>Bienvenue,</h2>
        <label>
            <span>Email</span>
            <input type="email" formControlName="email" />
        </label>
        <label>
            <span>Mot de passe</span>
            <input type="password" formControlName="motDePasse" [minlength]="8"/>
        </label>
       
        <button type="submit" class="submit"  [disabled]="isLoginLoading"  >
            <i class="fa"[ngClass]="{'fa-spin fa-spinner': isLoginLoading, 'fa-check': !isLoginLoading}"></i> &nbsp;{{button}}</button>
    </form>
    </div>
    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--up">
                <h2>Pas de compte ?</h2>
                <p>Inscrivez-vous et découvrez l'application MadaGarage!</p>
            </div>
            <div class="img__text m--in">
                <h2>Vous avez déjà un compte?</h2>
                <p>Si vous avez déjà un compte, il vous suffit de vous connecter.</p>
            </div>
            <div class="img__btn" (click)="sigupClickSwitch()">
                <span class="m--up">Créez un compte</span>
                <span class="m--in">Connectez-vous</span>
            </div>
        </div>
        <div class="form sign-up">
            <h2>Il est temps de réparer votre voiture,</h2>
            <label>
                <span>Nom</span>
                <input type="text" />
            </label>
            <label>
                <span>Email</span>
                <input type="email" />
            </label>
            <label>
                <span>Mot de passe</span>
                <input type="password" />
            </label>
            <label>
                <span>Confirmer</span>
                <input type="password" />
            </label>
            <button type="button" class="submit">Créer</button>
            
        </div>
    </div>
</div>


</div>