<app-slider></app-slider>
<div class="page-content container" *ngIf="depot">
    
    <div class="page-header text-blue-d2">
        
        <h1 class="d-flex page-title text-secondary-d1 fw-bold">
             Voiture: &nbsp;
            <small class="page-info">
                {{depot.idCar.matricule }}&nbsp; {{depot.idCar. modelCar}}
            </small>
        </h1>
       
    </div>
    <div class="container px-0">
        <div class="row mt-4">
            <div class="col-12 col-lg-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <p class="h4">
                                <span class="align-middle">Deposer le :</span>
                                <span class="text-600 text-110 text-blue align-middle">{{depot.date | date:"dd-MM-yy"}} &nbsp; </span>
                            </p>
                        </div>
                        <div>
                            <p class="h4">
                                <span class="align-middle">Proprietaire:</span>
                                <span class="text-600 text-110 text-blue align-middle"> {{depot.idUser.name}}</span>
                            </p>
                        </div>
                        <div>
                            <p class="h5">
                                <span class="align-middle">Description details:</span>
                                <span class="text-600 text-110 text-blue align-middle"> 
                                    {{depot.description}}.
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>
    <div class="container mb-3 mt-2">
        <div class="row">
                <p class="h5 text-center">Suggestions de réparation sélectionnées</p>
            <div class="col-12 col-lg-12">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="listSuggestion">

                    <ng-container matColumnDef="Position">
                        <th mat-header-cell *matHeaderCellDef> # </th>
                        <td mat-cell *matCellDef="let element;let index=index"> 
                            <span class="fw-bold">{{index+1}} &nbsp;</span> 
                    <img src="/assets/img/reparation/{{element.image}}" alt="" width="40">

                        </td>
                        
                    </ng-container>
                    <ng-container matColumnDef="Suggestion">
                        <th mat-header-cell *matHeaderCellDef> Suggestion </th>
                        <td mat-cell *matCellDef="let element" class="fw-bold"> {{element.values}}</td>
                        
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  
                </table>
            </div>
            <div class="d-flex justify-content-between  mt-3">
                <button mat-raised-button color="secondary" (click)="backToDepot()">Retour</button>
                <button class="" mat-raised-button color="custom-primary" (click)="validateDepot()">Valider depôt</button> 
            </div>
            <div class="d-flex justify-content-start mt-3">
               
            </div>
        </div>
    </div>
    <div class="container mb-3" *ngIf="etatDepot !== depot.etat">
        <div class="row">
                <p class="h5 text-center">Facture</p>
                <div class="example-container d-flex align-bottom">
                    <mat-form-field [style.width.px]="400" appearance="outline">
                        <mat-label>Réparation</mat-label>
                        <input matInput type="text">
                        <button mat-icon-button matSuffix 
                            >
                            <mat-icon></mat-icon>
                        </button>
                    </mat-form-field>
                
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>montant</mat-label>
                        <input matInput type="number" class="example-right-align" placeholder="0">
                    </mat-form-field>
                    <div style="margin-left: 10px;margin-top: 10px;">
                        <button class="" mat-raised-button color="custom-primary" (click)="validateDepot()">Ajouter</button>

                    </div>
                </div>

            <!-- <div class="col-12 col-lg-12">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="item">
                        <th mat-header-cell *matHeaderCellDef> # </th>
                        <td mat-cell *matCellDef="let transaction"> {{transaction.item}} </td>
                        
                    </ng-container>
                    <ng-container matColumnDef="cost">
                        <th mat-header-cell *matHeaderCellDef> Suggestion </th>
                        <td mat-cell *matCellDef="let transaction"> {{transaction.cost | currency}} </td>
                        
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  
                </table>
            </div>

            <div class="d-flex justify-content-end mt-3">
                <button class="" mat-raised-button color="custom-primary" (click)="validateDepot()">Clôturer</button> 
            </div>
            <div class="d-flex justify-content-start mt-3">
            </div> -->

        </div>
    </div>
</div>

