<div class="holy-grail">
    <app-slider></app-slider>
    <p class="fs-2 text-center">Déposer votre voiture</p>
    <br>
    <main class="holy-grail__main">
        <!-- Left sidebar -->
        <aside class="holy-grail__left" cdkDropListGroup>
            <h2 class="h2 fw-bold text-center mt-1">Vos voitures</h2>
            <div class="list-car" cdkDropList
                #toDepositCars="cdkDropList"
                [cdkDropListData]="tableCar"
                (cdkDropListDropped)="drop($event)"
                 [cdkDropListConnectedTo]="[deposit]"
                >
                <div class="car-details" *ngFor="let car of tableCar"  cdkDrag>
                    <div class="car-detail-type">

                        <app-car-type-color [type]="car.vType" [color]="car.vColor">
                        </app-car-type-color>
                        <span class="car-brand fw-bold">{{car.model}}</span>
                    </div>
                    <div id="plate">
                        <div id="number">
                            {{car.licensePlate}}
                        </div>
                    </div>
                </div>
            </div>
        </aside>

        <!-- Main content -->
        <article class="holy-grail__middle">
            <div class="drag-drop"
            cdkDropList
            #deposit="cdkDropList"
            [cdkDropListData]="depositCar"
            [cdkDropListConnectedTo]="[toDepositCars]"
            (cdkDropListDropped)="drop($event)"
            >
                <!-- <div class="draged-car">

                </div> -->
                <div class="car-details " *ngFor="let cars of depositCar" cdkDrag>
                    <div class="car-detail-type">
                
                        <app-car-type-color [type]="cars.vType" [color]="cars.vColor">
                        </app-car-type-color>
                        <span class="car-brand fw-bold">{{cars.model}}</span>
                    </div>
                    <div id="plate">
                        <div id="number">
                            {{cars.licensePlate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="drag-drop-repair">
                <div class="repair">

                </div>
            </div>
            <div class="car-deposition">
                <form class="car-deposition-form">
                    
                        <mat-form-field appearance="outline">
                            <mat-label>Date de déposition</mat-label>
                            <input matInput [matDatepicker]="picker">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    
                
                    <mat-form-field appearance="outline">
                        <mat-label>Déscription du déposition</mat-label>
                        <textarea class="car-deposition-input-area" matInput placeholder="Problème moteur"></textarea>
                    </mat-form-field>
                    <div class=" group-button ">
                        <button mat-flat-button color="custom-primary" >Déposer</button>
                        <button mat-flat-button color="seoncary" >Demander</button>
                    </div>
                </form>
            </div>
        </article>

        <!-- Right sidebar -->
        <nav class="holy-grail__right">
            <h2 class="h2 fw-bold text-center mt-1">Suggestion de réparation</h2>
            <div class="repair-list">
                <div class="repair-details" *ngFor="let r of reparationList">
                    <img src="/assets/img/reparation/{{r.img}}" alt="">
                    <span class="reparation-name fw-bold">{{r.value}}</span>
                </div>
            </div>
        </nav>
    </main>
</div>