.holy-grail {
    display: flex;
    flex-direction: column;
    height: 1000px;
    margin-bottom: 300px;
}

.holy-grail__main {
    /* Take the remaining height */
    flex-grow: 1;

    /* Layout the left sidebar, main content and right sidebar */
    display: flex;
    flex-direction: row;
}
.holy-grail__main > *{
    padding: 0 10px;
    margin:0 10px;
}
.holy-grail__left {
    width: 25%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 3px 5px 5px -3px rgba(74, 70, 70, 0.75);
    -webkit-box-shadow: 3px 5px 5px -3px rgba(74, 70, 70, 0.75);
    -moz-box-shadow: 3px 5px 5px -3px rgba(74, 70, 70, 0.75);
    /* border: 1px black solid; */
    overflow-y: auto;
}

.holy-grail__middle {
    /* Take the remaining width */
    flex-grow: 1;
   
    
}

.holy-grail__right {
    width: 20%;
    background-color: azure;
    width: 25%;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: 3px 5px 5px -3px rgba(74, 70, 70, 0.75);
        -webkit-box-shadow: 3px 5px 5px -3px rgba(74, 70, 70, 0.75);
        -moz-box-shadow: 3px 5px 5px -3px rgba(74, 70, 70, 0.75);
}
.holy-grail__middle .drag-drop{
border: 0.25rem dashed #d1d5db;
border-radius: 0.25rem;
min-height: 400px;
}
.holy-grail__middle .car-deposition{
    height: 200px;
}
.car-deposition{
    margin: 30px 0 0 0;
}
.car-deposition-form{
    display: flex;
    flex-direction: column;
    max-height: 300px;
}
.car-deposition-input-text{
    height: 10px !important;
}
.car-deposition-form .car-deposition-input{
    /* width: 200px; */
}
.car-deposition-input-area{
    /* min-height: 100px !important; */
}
.input-date{
    height: 20px !;
}
.group-button{
  text-align: right;
}
.group-button > button{
 margin: 5px 10px;
}

.car-details {
    /* background-color:bisque ; */
    padding: 5px 5px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px;
}
.car-detail-type{
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}
.car-brand{
  margin: 0 0 0 5px;
}
/* plate */
#plate {
    display: block;
    width: 113px;
    height: 22px;
    background-color: #FFFF00;
    border: 3px solid;
    border-radius: 5px;
}

#number {
    text-align: center;
    padding: 0px 0 0px 0px;
    color: #000000;
    font-family: Trebuchet MS;
    font-size: 16px;
    font-weight: bold;
}
#plate {
    background: #ffff00;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffff00 0%, #ffff99 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffff00), color-stop(100%, #ffff66));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffff00 0%, #ffff99 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffff00 0%, #ffff99 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffff00 0%, #ffff99 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ffff00 0%, #ffff99 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff00', endColorstr='#ffff99', GradientType=0);
    /* IE6-9 */

}

