<div class="holy-grail">
    <app-slider [pageDescription]="'Deposer votre voiture'"></app-slider>
    <hr>
    <p class="fs-2 text-center mt-2">Déposer votre voiture</p>
    <br>
    <main class="holy-grail__main">
        <!-- Left sidebar -->
        <aside class="holy-grail__left" cdkDropListGroup>
            <h2 class="h2 fw-bold text-center mt-1">Vos voitures</h2>
            <div class="list-car" cdkDropList
                #toDepositCars="cdkDropList"
                [cdkDropListData]="tableCar"
                (cdkDropListDropped)="drop($event)"
                 [cdkDropListConnectedTo]="[deposit]"
                >
                <div class="car-details" *ngFor="let car of tableCar"  cdkDrag>
                    <div class="car-detail-type">

                        <app-car-type-color [type]="car.typeCar[0].reference" [color]="car.colorCar">
                        </app-car-type-color>
                        <span class="car-brand fw-bold">{{car.modelCar}}</span>
                    </div>
                    <div id="plate">
                        <div id="number">
                            {{car.matricule}}
                        </div>
                    </div>
                </div>
            </div>
        </aside>

        <!-- Main content -->
        <article class="holy-grail__middle">
            <div class="drag-drop"
            cdkDropList
            #deposit="cdkDropList"
            [cdkDropListData]="depositCar"
            [cdkDropListConnectedTo]="[toDepositCars]"
            (cdkDropListDropped)="drop($event)"
            >
                <!-- <div class="draged-car">

                </div> -->
                <div class="car-details " *ngFor="let cars of depositCar" cdkDrag>
                    <div class="car-detail-type">
                
                        <app-car-type-color [type]="cars.typeCar[0].reference" [color]="cars.colorCar">
                        </app-car-type-color>
                        <span class="car-brand fw-bold">{{cars.modelCar}}</span>
                    </div>
                    <div id="plate">
                        <div id="number">
                            {{cars.matricule}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="drag-drop-repair" >

                   <div class="container">
                    <mat-chip-list aria-label="Dog selection"cdkDropList #doneList="cdkDropList" [cdkDropListData]="reparationSelected"
                        [cdkDropListConnectedTo]="[todoList]" (cdkDropListDropped)="dropReparation($event)">
                        <mat-chip class="default-chips">
                            <img matChipAvatar src="/assets/img/reparation/1.png" alt="Photo of a Shiba Inu" />
                           Mes réparations
                        </mat-chip>
                        <mat-chip  *ngFor="let rs of reparationSelected" cdkDrag>
                            <img matChipAvatar src="/assets/img/reparation/{{rs.image}}"
                                alt="image" />
                        {{rs.values}}
                        </mat-chip>
                       
                    </mat-chip-list>
                   </div>
                
            </div>
        <div class=" group-button ">
            <button mat-flat-button color="custom-error" (click)="resetDeposit()">Effacer</button>
        </div>
            <div class="car-deposition">
                <form class="car-deposition-form" [formGroup]="depositForm" (ngSubmit)="depositSubmitting()">
                    
                        <mat-form-field appearance="outline">
                            <mat-label>Date de déposition</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="date" [disabled]="true">
                            <mat-hint>DD/MM/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    
                
                    <mat-form-field appearance="outline">
                        <mat-label>Déscription du déposition</mat-label>
                        <textarea class="car-deposition-input-area" matInput placeholder="Problème moteur" formControlName="description"></textarea>
                    </mat-form-field>
                    <div class=" group-button ">
                        <button mat-flat-button color="custom-primary" >Déposer</button>
                    </div>
                </form>
            </div>
        </article>

        <!-- Right sidebar -->
        <nav class="holy-grail__right" >
            <h2 class="h2 fw-bold text-center mt-1">Suggestion de réparation</h2>
                    <div class="container">
                        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="reparationList" 
                        [cdkDropListConnectedTo]="[doneList]" (cdkDropListDropped)="dropReparation($event)"
                            class="repair-list" >
                            <div  class="repair-details"  >
                                <img src="/assets/img/reparation/1.png" alt="" >
                            Selectionnez une réparation et deposez dans la zone gris "Mes réparations".
                            </div>
                            <div  class="repair-details" *ngFor="let r of reparationList" cdkDrag>
                                <img src="/assets/img/reparation/{{r.image}}" alt="">
                              {{r.values}}
                            </div>
                        </div>
                    </div>
               
        </nav>
    </main>
</div>