<header class="p-3 mb-3 border-bottom custom-color">
    <div class="container ">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start ">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <img src="/assets/img/logo-garage.png" routerLink="/depot" class="logo">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a routerLink="depot" class="nav-link px-2 link-dark">Depôt</a></li>
                <li><a routerLink="progression" class="nav-link px-2 link-secondary">Avancement</a></li>
                <!-- <li><a routerLink="cars-reparation" class="nav-link px-2 link-dark">Réparation</a></li> -->
                <li><a routerLink="cars-invoice" class="nav-link px-2 link-dark">Facture</a></li>

            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 d-none">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="fw-bold text-capitalize">{{username}} &nbsp;</span>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" >
                   
                    <li><a class="dropdown-item"    (click)="logout()">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
